// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  text-align: center;
}

header{
  font-size: 1rem;
  display: flex;
  align-items:center;
  //justify-conten
  .app_name{
    font-size: 1.8rem;
    margin-left: 20px;
    a{
      text-decoration: none;
      color: #fff;
    }
  }

  .header_manu{
    font-size: 1rem;
    display: flex;
    flex-grow: 3;
    justify-content: flex-end;
    .profile{
      margin-right: 30px;
      // text-align: right
      a{
        text-decoration: none;
        color: #fff;
      }
     }

     .new_post{
       margin-right: 30px;
       // text-align: right
       a{
         text-decoration: none;
         color: #fff;
       }
      }

    .logout{
      margin-right: 30px;
      // text-align: right;
      a{
        text-decoration: none;
        color: #fff;
      }
    }

    .crrent_user{
      margin-right: 30px;
      // text-align: right;
      text-decoration: none;
      color: #fff;
    }

    .sign_up{
      margin-right: 30px;
      // text-align: right;
      a{
        text-decoration: none;
        color: #fff;
      }
    }

    .login{
      margin-right: 30px;
      // text-align: right;
      a{
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
.main-container {
  background-image: image-url("snowman-1090261__480.jpg");
  height: 800px;
  background-size:cover;
  width: 100%;
}

//スタイル全体の設定
.contents{
  width: 800px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
// 繰り返す処理の設定

.index_picture{
  border: solid 1px black;
  padding-bottom: 10px;

  .index_picture_menu{
    display: flex;
    justify-content:space-around;
  }
}

.show_edit{
  display: flex;
}

footer{
  margin-top:  auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
